.heading img{
  
    height:50px;
    width:50px;
    display:inline-block;
  }
  
  .heading h2{
    display:inline;
    position: relative;
    top: -9px;
  }
  
  .heading p{
    position:relative;
    top:-26px;
  }
  
  .apply-button button{
    display: inline;
    position:relative;
    top: -109px;
    left: 265px;
    background-color: rgb(200, 200, 200);
    font-size: 20px;
    padding: 0px 38px;
    border-radius: 10px;
    font-family: 'changa-regular';
  }
  
  .basic-details {
    height: 155px;
    width: 238px;
    display:flex;
    
    

    /* text-align: justify; */
  }
  
  .skills ul{
    
    list-style: square inside;
  }
  
  .employer-description  {
    
    display:flex;
    height: 85px;
    width: 667px;
    
   
  }
  
  .qualifications{
  
  }