/*------------------------------------*\
  Fonts Definition
\*------------------------------------*/
$changa-weights: 'Bold', 'ExtraBold', 'ExtraLight', 
                 'Light', 'Medium', 'Regular', 'SemiBold';
@each $weight in $changa-weights {
    @font-face {
        font-family: str-insert('changa-', to-lower-case($weight), 8);
        src: url(str-insert('../assets/fonts/Changa/Changa-.ttf', $weight, 31));
    }
}

$cairo-weights: 'Black', 'Bold', 'ExtraLight', 'Light', 'Regular', 'SemiBold';
@each $weight in $changa-weights {
    @font-face {
        font-family: str-insert('cairo-', to-lower-case($weight), 7);
        src: url(str-insert('../assets/fonts/Cairo/Cairo-.ttf', $weight, 29));
    }
}
