@import "./mixins/colors";
@import "./mixins/variables";
@import "../css/fonts.css";

/*------------------------------------*\
  Icons
\*------------------------------------*/
.circular-icon{
	width: 20px;
	height: 20px;
	padding: 10px;
	img {
		display: inline-block;
		width: inherit;
		height: inherit;
	}
}
.inline-icon {
	width: 10px;
}

/*------------------------------------*\
  Tooltip
\*------------------------------------*/
@mixin tooltip {
	position: absolute;
	background: $white;
	box-shadow: 0 2px 50px 1px rgba(43, 38, 38, 0.4);
	z-index: 0;
	// transition - fade In and move 20px up.
	opacity: 0;
	transform: translateY(20px);
	transition: .5s;

	&:before {
		// tooltip arrow
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		background: $white;
		transform: rotate(45deg) translateX(-50%);
		z-index: -1;	
		top: 3px;
	}
	
	&.active {
		opacity: 1;
		transform: translateY(0);
	}
}

/*------------------------------------*\
  Header
\*------------------------------------*/
header {
	justify-content: space-between;
	padding: 10px;
	box-shadow: 0 2px 50px 1px rgba(43, 38, 38, 0.4);
	z-index: 1;

	/*
	* Left Navigation, titled as 'main-nav'
	*/
	.header__main-nav {
		font-size: 2em;
		margin: 10px;
		ul li {
			display: inline-block;
			margin: 10px 20px;
			cursor: $cursor-pointer, auto;
		}
	}  // .header___main-nav

	/*
	* Logo
	*/
	.logo img {
		width: 200px;
	}  // .logo

	/*
	* Right Navigation, titled as 'right-nav'
	*/
	.header__right-nav {	
		display: flex;
		margin: 10px 25px;
		width: 300px;
		justify-content: flex-end;  // aligned to the end.
		box-sizing: border-box;

		/* 
		* Search Section 
		* search is the container, relative position
		* icons & input, absolute position
		*/
		.right-nav__search > .circular-icon {
			display: none;
		}
		.right-nav__search--normal {
			width: 0px;
			height: 50px;
			background: $white;
			position: relative;
			border-radius: 25px;
			transition: .75s;
			// Circular Icon - specific search
			.circular-icon {
				position: absolute;
				right: 10px;
				top: 5px;
				cursor: pointer;
				img {
					// Rotating transition
					transition: .75s;
					transform: rotate(0deg);
					&.active {
						transform: rotate(360deg);
					}
				}  // img
			}  // .circular-icon
			// Search Input Container 
			.search-input input {
				position: absolute;
				left: 15px;
				top: 3px;
				display: none;
				/* 
				* positioning input at the left side of the
				* search input container.
				*/
				width: calc(100% - 67px);
				height: calc(100% - 5px);
				outline: none;
				border: none;
				&::placeholder {
					font-family: 'changa-regular', 'sans-serif';
					color: $placeholder-color;
				}
				&.active {
					display: block;
				}
			}  // .search-input
		}  // .right-nav__search--normal
		/* 
		* Profile Section 
		* profile is the container, relative position
		* user authentication menu, absolute position
		*/
		.right-nav__profile {
			position: relative;
			// Circular Icon - specific profile
			.circular-icon {
				margin: 5px 10px;
				cursor: pointer;
			}

			// user authentication menu
			.user-authentication {
				@include tooltip;
				font-size: 1.5em;
				width: 90px;
				box-sizing: border-box;
				left: -20px;  // minor centering adjustment

				&:before {
					left: 50%;
				}
				ul li {
					padding: 2px 15px;
					// divider line
					&:nth-child(1) {
						border-bottom: 1px solid $placeholder-color;
					}
				}  // ul li
			}   // .user-authentication
		}  // .right-nav__profile
	}  // .header-right__nav
	position: fixed;
	width: 100vw;
	// shrinking transition
	transition: .25s;
	&.shrink {
		padding: 2px;
	}  // .shrink
}  // header

/*------------------------------------*\
  Responsive Header
\*------------------------------------*/
@media (max-width: 875px) {
	header {
		.header__main-nav {
			position: absolute;
			top: calc(100vh - 72px);
			background: $nav-color;
			width: 100%;
			margin: -10px;
			ul {
				display: flex;
				justify-content: space-between;
				li {
					cursor: $cursor-pointer, auto;
				}

				$icons: (1:'home', 2:'jobs', 3:'contact');
				@each $index, $icon in $icons {
					$icon-path: '../assets/icons/.png';
					$icon-path: str-insert($icon-path, $icon, 17);

					li:nth-child(#{$index}):before {
						content: '';
						background-image: url($icon-path);
						background-size: 30px;
						display: block;
						width: 30px; 
						height: 30px;
						margin-left: 5px;
					}
				}
				li:nth-child(1):after,
				li:nth-child(2):after {
					content: '';
					top: 20px;
					width: 2px;
					height: 40px;
					background: $icon-color;
					border-radius: 10px;
					position: absolute;
					margin-left: 12vw;
				}
			}
		}  // .header___main-nav
		
		.logo img {
			width: 120px;
		}  //.logo

		.header__right-nav {
			width: 150px;
			margin: 4px 10px;
			.right-nav__search {
				position: relative;
			}
			.right-nav__search > .circular-icon {
				display: block;
				position: absolute;
				right: 10px;
				top: 2px;
			}
			.right-nav__search--tooltip-box {
				@include tooltip;
				width: 305px;
				box-sizing: border-box;
				top: 50px;
				left: -260px;
				&:before {
					right: 65px;
				}
				.right-nav__search--normal .search-input input {
					border: 1px solid $placeholder-color;
					border-radius: 10px;
				}
			}
			.right-nav__profile .circular-icon {
				margin: 2px 4px;
			}
		}

	}  // header
}  // @media