@import "mixins/colors";
@import "mixins/variables";

/*------------------------------------*\
  Global Styles
\*------------------------------------*/
body, ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url(../assets/icons/cursor.png), auto;
    overflow-x: hidden;
}
body {
    background: $bg-color;
}
ul {
    list-style: none;
}
header, footer {
	display: flex;
	box-sizing: border-box;
	background: $nav-color;
	font-family: 'changa-regular', 'sans-serif';
}

/*------------------------------------*\
  Icons
\*------------------------------------*/
.circular-icon {
    background: $btn-color;
    border-radius: 50%;
    cursor: $cursor-pointer, auto;
}
.inline-icon {
    display: inline;
}