<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daemon</title>
    <link rel="stylesheet" href="daemon.css">
</head>
<body>
    <div class="top">        
        <nav>
            <ul>
                <li>Edit Profile / Skills</li>
                <li>Upload CV</li>
            </ul>
        </nav>
    </div>

    <div class="container-1 error">
        <span class="text">
            Error in scraping necessary files and folders
        </span>
    </div>

    <div class="container-2">
        <span class="message scraping">Scraping URL in jobsnepal.com</span>
        <span class="message idle">Getting files</span>
        <span class="message error">Error in scraping necessary files and folders</span>
        <span class="message scraping">Scraping URL in jobsnepal.com</span>
        <span class="message idle">Getting files</span>
        <span class="message error">Error in scraping necessary files and folders</span>
        <span class="message scraping">Scraping URL in jobsnepal.com</span>
        <span class="message idle">Getting files</span>
        <span class="message error">Error in scraping necessary files and folders</span>
        <span class="message scraping">Scraping URL in jobsnepal.com</span>
        <span class="message idle">Getting files</span>
        <span class="message error">Error in scraping necessary files and folders</span>
        <span class="message scraping">Scraping URL in jobsnepal.com</span>
        <span class="message idle">Getting files</span>
        <span class="message error">Error in scraping necessary files and folders</span>
        <span class="message scraping">Scraping URL in jobsnepal.com</span>
        <span class="message scraping">Scraping URL in jobsnepal.com</span>
        <span class="message scraping">Scraping URL in jobsnepal.com</span>
        <span class="message scraping">Scraping URL in jobsnepal.com</span>
        <span class="message scraping">Scraping URL in jobsnepal.com</span>

    </div>
</body>
</html>