<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/0da6c55480.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="job_description.css">
</head>
<body>
    <div class="top">        
        <div class="back-to-job-button">
            <button><i class="fa fa-arrow-left"></i></button>
        </div>
        <nav>
            <ul>
                <li>Edit Profile / Skills</li>
                <li>Backend Daemon</li>
            </ul>
        </nav>
    </div>
    <div class="left">
        <div class="jobs-list">
            <ul>
                <li>Frontend designer</li>
                <li>React's Developer</li>
                <li>Fullstack developer</li>
                <li>Designer</li>
                <li>Manager</li>
                <li>Coordinator</li>
                <li>Supervisor</li>
                <li>Finding Nemo</li>
                <li>this is a very long long long long long long long long long long long long long long long title.</li>
                <li>Zootopia</li>
                <li>youtuber</li>
                <li>it manager</li>
                <li>IO manager</li>
                <li>project manager</li>
                <li>toilet manager</li>
                <li>bedroom manager</li>
            </ul>
        </div>
    </div>

    <div class="right">
        <div class="first-segment">
            <div class="first-segment-left">
                <h1 class="job-title">Frontend designer</h1>
                <a href="www.merojob.com">www.merojob.com/frontend-designer-6</a><br>
                <strong class="company-name">Jagdamba Motors Pvt.Ltd</strong><br>
                <a href=":mailtojagdambamotors@gmail.com" class="company-email">jagdambamotors@gmail.com</a>
            </div>

            <div class="first-segment-right">
                <table>
                    <tr>
                        <td><strong>Deadline</strong></td>
                        <td>:</td>
                        <td>2021-01-20</td>
                    </tr>

                    <tr>
                        <td><strong>Location</strong></td>
                        <td>:</td>
                        <td>Kathmandu</td>
                    </tr>

                    <tr>
                        <td><strong>Level</strong></td>
                        <td>:</td>
                        <td>Mid</td>
                    </tr>

                    <tr>
                        <td><strong>Salary</strong></td>
                        <td>:</td>
                        <td>8000000</td>
                    </tr>
                </table>
            </div>
                
        </div>

        <div class="second-segment">
            <h1>Skills</h1>
            <div class="second-segment-skills-list">
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>javascript</li>
                    <li>PHP</li>
                    <li>dining</li>
                    <li>flying</li>
                    <li>incorporator</li>
                    <li>dryer</li>
                    <li>cycling</li>
                    <li>delivery boy</li>
                    <li>CSS</li>
                    <li>javascript</li>
                    <li>PHP</li>
                    <li>dining</li>
                    <li>flying</li>
                    <li>incorporator</li>
                    <li>dryer</li>
                    <li>cycling</li>
                    <li>delivery boy</li>
                    <li>CSS</li>
                    <li>javascript</li>
                    <li>PHP</li>
                    <li>dining</li>
                    <li>flying</li>
                    <li>incorporator</li>
                    <li>dryer</li>
                    <li>cycling</li>
                    <li>delivery boy</li>
                    <li>CSS</li>
                    <li>javascript</li>
                    <li>PHP</li>
                    <li>dining</li>
                    <li>flying</li>
                    <li>incorporator</li>
                    <li>dryer</li>
                    <li>cycling</li>
                    <li>delivery boy</li>
                    <li>CSS</li>
                    <li>javascript</li>
                    <li>PHP</li>
                    <li>dining</li>
                    <li>flying</li>
                    <li>incorporator</li>
                    <li>dryer</li>
                    <li>cycling</li>
                    <li>delivery boy</li>
                    <li>CSS</li>
                    <li>javascript</li>
                    <li>PHP</li>
                    <li>dining</li>
                    <li>flying</li>
                    <li>incorporator</li>
                    <li>dryer</li>
                    <li>cycling</li>
                    <li>delivery boy</li>
                    <li>CSS</li>
                    <li>javascript</li>
                    <li>PHP</li>
                    <li>dining</li>
                    <li>flying</li>
                    <li>incorporator</li>
                    <li>dryer</li>
                    <li>cycling</li>
                    <li>delivery boy</li>
                    <li>CSS</li>
                    <li>javascript</li>
                    <li>PHP</li>
                    <li>dining</li>
                    <li>flying</li>
                    <li>incorporator</li>
                    <li>dryer</li>
                    <li>cycling</li>
                    <li>delivery boy</li>
                    <li>CSS</li>
                    <li>javascript</li>
                    <li>PHP</li>
                    <li>dining</li>
                    <li>flying</li>
                    <li>incorporator</li>
                    <li>dryer</li>
                    <li>cycling</li>
                </ul>
            </div>    
        </div>

        <div class="third-segment">
            <div class="qualification"><h4 class="qualification-heading:">Qualification</h4> Bachelor Pass</div>
            <div class="qualification"><h4 class="qualification-heading:">Experience</h4> 10 years</div>
        </div>

        <div class="fourth-segment">
            <h1>Job Description</h1>
            <div class="fourth-segment-description">
                <p>We are looking for a high-potential IT Support Technician for the day-to-day support of all IT systems, equipment ordering & configuration, networks and asset management. Reporting directly to our UK based Technology team, you will provide first-line support to our global operation. In addition to this role, you will provide support to our ISO Officer in relation to data security and quality management for documentation, processes and audit. An all-rounder with a deep commitment to the highest standards of customer service and professionalism. We are offering a fantastic career opportunity, working for a leading international financial services organisation, serving the world's largest organisations Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, molestiae minus maxime quam, labore tempora nam amet beatae non hic, exercitationem cumque ipsam! Hic nostrum maiores, voluptatem tempora officia impedit perspiciatis ducimus? Ipsa, dolorum!</p>
            </div>
        </div>

        <div class="fifth-segment">
            <h1>Miscellaneous Details</h1>
            <div class="fifth-segment-misc">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore voluptates assumenda modi ratione, porro consectetur ab maxime magnam odit, aperiam perspiciatis veritatis? Exercitationem, nulla. Voluptas, voluptates porro! Deleniti consequuntur beatae quas nisi suscipit neque animi, sed est nesciunt. Qui quas fugiat quae odio iusto nam dolore repudiandae voluptatibus et ab adipisci nisi, dolores beatae reprehenderit voluptate neque sed cupiditate explicabo, facere unde fugit culpa. Numquam corporis doloremque maxime corrupti rem ex enim eos itaque, aperiam harum consequatur excepturi fugiat animi minima dolore vel officiis? Possimus minima necessitatibus magnam non accusamus explicabo enim tenetur voluptatem, quidem fugiat alias voluptatum nesciunt modi.</p>
            </div>
        </div>

        <div class="sixth-segment">
            <h1>Company Info</h1>
            <div class="sixth-segment-company-info">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex consequatur repellat suscipit error at officiis amet iusto vero dolorum minima animi quibusdam provident neque porro, facere maxime atque quasi! Praesentium, magni. Nisi voluptatum veniam assumenda et esse qui magnam fugit asperiores omnis ex nam iusto, quis harum fuga, corporis ratione tempora odit illo ut eligendi at nobis culpa nihil voluptatibus. Officiis, ipsum facilis ipsa rem, excepturi dolore temporibus dicta quis error inventore aliquid necessitatibus. Aspernatur, animi veniam facere officiis qui quod provident magni rerum inventore! Aliquid natus architecto in voluptate fuga, assumenda quae molestias quam? Neque quis recusandae perferendis optio.</p>
            </div>
        </div>
    </div>
</body>
</html>
        