<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/0da6c55480.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register-Login</title>
    <link rel="stylesheet" href="login_register.css">
</head>
<body>
    <div class="container-register">
        <h1>Register</h1>
        <div class="box-1">
            <i class="fa fa-user"></i>
            <input type="username" name="username" id="email" placeholder="Enter your username">
        </div>
        <div class="box-1">
            <i class="fa fa-envelope"></i>
            <input type="email" name="email" id="email" placeholder="Enter your email">
        </div>
        <div class="box-1">
            <i class="fa fa-key"></i>
            <input type="password" name="password" id="password" placeholder="Enter your password">
        </div>
        <button class="btn">Register</button>
    </div>

    <div class="container-login">
        <h1>Login</h1>
        <div class="box-2">
            <i class="fa fa-user"></i>
            <input type="username" name="username" id="username" placeholder="Enter your username">
        </div>
        <div class="box-2">
            <i class="fa fa-key"></i>
            <input type="password" name="password" id="password" placeholder="Enter your password">
        </div>
        <button class="btn">Login</button>
    </div>

</body>
</html>
