<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/0da6c55480.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <div class="left-container">
        <h1>Profile</h1>
        <div class="username">
            <i class="fa fa-user"></i>        
            <input type="text" value="niroj bajracharya">
        </div>
        <div class="email-id">
            <i class="fa fa-envelope"></i>
            <input type="text" value="nirojbazzzzza@gmail.com">
        </div>
        <div class="left-container-button">
            <button>Update</button>
        </div>
    </div>

    <div class="right-container">
        <h1>Change Password</h1>
        <div class="old-password">
            <input type="password" placeholder="Enter old password">
        </div>

        <div class="new-password">
            <input type="password" placeholder="Enter new password">
        </div>

        <div class="update-password-button">
            <button>Update Password</button>
        </div>
    </div>

    <div class="skills-container">
        <h1>My skills</h1>
        
        <div class="skills-to-be-added">
            <div class="search-box">
                <input class="search-txt" type="text" name="text"  placeholder="Type to search...">
                <a class="search-btn" href="#">
                    <i class="fa fa-search"></i>
                </a>
            </div>
            <ul class="skills" id="nonselected">
                <li class="skill">HTML	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">Full stack developer	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">Flask	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">Python	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">json	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">css	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">javascript	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">youtuber	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">HTML	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">Full stack developer	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">Flask	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">Python	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">json	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">css	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">javascript	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">youtuber	
                    <i class="fa fa-arrow-circle-right"></i></li>
            </ul>
        </div>

        <div class="container container-2">
            <ul class="skills" id="selected">
                <li class="skill">json	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">css	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">javascript	
                    <i class="fa fa-arrow-circle-right"></i></li>
                <li class="skill">youtuber	
                    <i class="fa fa-arrow-circle-right"></i></li>
            </ul>
        </div>


        <div class="continue-button">
            <button>Continue</button>
        </div>
    </div>
</body>
</html>



        
            	