@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
}


body{
    background: url(bg.jpg) no-repeat center center fixed;
    background-size:cover;
}

.left-container{
    background: rgba(0,0,0,0.5);
    margin:18px 10px;
    padding:20px;
    height:220px;
    width:400px;

}

.left-container h1{
    color:white;
    margin-bottom: 10px;

}

.left-container .username{
    margin-bottom: 10px;
    color:white;
}


.left-container .username input{
    padding:10px;
    width:80%;
    font-size: 18px;
    border-radius: 15px;
}

.left-container .email-id{
    margin-bottom: 18px;
    color:white;
}
.left-container .email-id input{
    padding:10px;
    width:80%;
    font-size: 18px;
    border-radius: 15px;
}

.left-container .left-container-button button{
    background-color: rgb(13, 13, 71);
    color: white;
    border-radius: 15px;
    padding: 15px 32px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.right-container{
    background: rgba(0,0,0,0.5);
    position:absolute;
    top:20px;
    right:100px;
    width:500px;
    padding:15px;
    height:220px;
    color:white;
}

.right-container h1{
    margin-bottom: 10px;
}

.right-container .old-password input, .new-password input{
    padding:10px;
    margin-bottom: 10px;
    width:80%;
    font-size: 18px;
    border-radius: 15px;
}

.right-container .update-password-button button{
    background-color: rgb(13, 13, 71);
    color: white;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    cursor:pointer;
    display: inline-block;
    font-size: 16px;
}


.skills-container{
    position:relative;
    background:rgba(0,0,0,0.5);
    color:black;
    height:600px;
    width:97%;
    margin:30px 10px;
    padding:10px;
}

.skills-container h1{
    color:white;
}

.skills-container .search-box{
    position:absolute;
    top:3%;
    left:1%;
    height:20px;
    background:white;
    border-radius: 40px;
    padding:10px;
    width:500px;
}

.search-btn{
    color:#1a40bd;
    float:right;
    width:25px;
    height:25px;
    border-radius:50%;
    background:#2f3640;
    display:flex;
    justify-content: center;
    align-items:center;
}


.search-txt{
    border:none;
    outline:none;
    float:left;
    padding:0;
    color:black;
    font-size:16px;
    line-height:20px;
    width:450px;
}

.skills-to-be-added{
    width: 600px;
    height: 500px;
    position: relative;
}

ul {
    position: absolute;
    top: 15%;
    left: 1%;
    height: 400px;
    overflow-y: auto;
    width: calc(100% - 1.15%);
}



.skill {
    width: 100%;
    background: white;
    border-bottom: 2px solid gray;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 2px;
}

.fa.fa-arrow-circle-right, .fa.fa-arrow-circle-left{
    float:right;
    cursor: pointer;
}

.container-2{
    width: 600px;
    height: 500px;
    position: absolute;
    top: 40px;
    left: 48%;
}

.continue-button{
    position: absolute;
    bottom:10px;
    left: 15px;
}

.continue-button button{
    background-color: cadetblue;
    bottom:45px;
    color: white;
    padding: 15px 32px;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    
}

