<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/0da6c55480.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation</title>
    <link rel="stylesheet" href="recommendation.css">
</head>

<body>
    <h1 class="my-skill">My skills</h1>
    <div class="container-1">
        <div class="skills">
            <span class="skill">HTML
                <button><i class="fa fa-times"></i></button>
            </span>
            <span class="skill">CSS
                <button><i class="fa fa-times"></i></button>
            </span>
            <span class="skill">JavaScript
                <button><i class="fa fa-times"></i></button>
            </span>
            <span class="skill">Python
                <button><i class="fa fa-times"></i></button>
            </span>
            <span class="skill">MongoDB
                <button><i class="fa fa-times"></i></button>
            </span>
            <span class="skill">SastoDB
                <button><i class="fa fa-times"></i></button>
            </span>
            <span class="skill">ThikkaDB
                <button><i class="fa fa-times"></i></button>
            </span>
        </div>
        <span class="confirmation">
            <button disabled>Confirm Saving New Skills</button>
        </span>
    </div>

    <div class="left">
        <h2>Add Skills</h2>
        <div class="add-skills">
            <input type="text" placeholder="Type skill name & hit enter">
        </div>

        <div class="filters">
            <h2>More filters</h2>
            <table>
                <tr>
                    <td>
                        <div class="salary">Salary:
                    </td>
        </div>
        <td><input type="text" class="value"> - <input type="text" class="value"></td>
        </tr>


        <tr>
            <td>
                <div class="location">Location:
            </td>
    </div>
    <td><input type="text" class="value-evl"></td>

    </tr>

    <tr>
        <td>
            <div class="deadline">Deadline:
        </td>
        </div>
        <td>within <input type="text" class="value-sm"> days<br>
            within <input type="text" class="value-sm"> month
        </td>
    </tr>

    <tr>
        <td>
            <div class="company-name">Company Name</div>
        </td>
        <td><input type="text" class="value-evl"></td>
    </tr>

    <tr>
        <td>
            <div class="company-name">Job Name</div>
        </td>
        <td><input type="text" class="value-evl"></td>
    </tr>

    <tr>
        <td>
            <div class="company-name">Qualification</div>
        </td>
        <td><input type="text" class="value-evl"></td>
    </tr>

    <tr>
        <td>
            <div class="company-name">Experience</div>
        </td>
        <td><input type="text" class="value-evl"></td>
    </tr>
    </table>

    </div>
    </div>
    <div class="right">
        <div class="job">
            <div class="top-content">
                <span class="job-title">
                    <h1>Frontend Designer</h1>
                </span>
                <button>Read More</button>
                <span class="job-deadline">Deadline: Within 1 days</span>
            </div>
            <div class="bottom-content">

                <table class="first-table">
                    <tr>
                        <td>
                            <div class="matching-skills">Matching Skills</div>
                        </td>
                        <td>Html css javascript</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="qualification">Qualification:</div>
                        </td>
                        <td>.........................</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="experience">Experience:</div>
                        </td>
                        <td>.......................</td>
                    </tr>

                    <tr>
                        <td>Description:</td>
                        <td>..................</td>
                    </tr>
                </table>

                <table class="second-table">
                    <tr>
                        <td>
                            <div class="st-salary">Salary</div>
                        </td>
                        <td>...........................</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="st-location">Location</div>
                        </td>
                        <td>.................................</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="st-level">Level</div>
                        </td>
                        <td>............................</td>
                    </tr>

                </table>
            </div>

        </div>


        <div class="job">
            <div class="top-content">
                <span class="job-title">
                    <h1>Backend Designer</h1>
                </span>
                <button>Read More</button>
                <span class="job-deadline">Deadline: Within 1 days</span>
            </div>
            <div class="bottom-content">

                <table class="first-table">
                    <tr>
                        <td>
                            <div class="matching-skills">Matching Skills</div>
                        </td>
                        <td>Html css javascript</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="qualification">Qualification:</div>
                        </td>
                        <td>.........................</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="experience">Experience:</div>
                        </td>
                        <td>.......................</td>
                    </tr>

                    <tr>
                        <td>Description:</td>
                        <td>..................</td>
                    </tr>
                </table>

                <table class="second-table">
                    <tr>
                        <td>
                            <div class="st-salary">Salary</div>
                        </td>
                        <td>...........................</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="st-location">Location</div>
                        </td>
                        <td>.................................</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="st-level">Level</div>
                        </td>
                        <td>............................</td>
                    </tr>

                </table>
            </div>

        </div>

        <div class="job">
            <div class="top-content">
                <span class="job-title">
                    <h1>Project Manager</h1>
                </span>
                <button>Read More</button>
                <span class="job-deadline">Deadline: Within 1 days</span>
            </div>
            <div class="bottom-content">

                <table class="first-table">
                    <tr>
                        <td>
                            <div class="matching-skills">Matching Skills</div>
                        </td>
                        <td>Html css javascript</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="qualification">Qualification:</div>
                        </td>
                        <td>.........................</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="experience">Experience:</div>
                        </td>
                        <td>.......................</td>
                    </tr>

                    <tr>
                        <td>Description:</td>
                        <td>..................</td>
                    </tr>
                </table>

                <table class="second-table">
                    <tr>
                        <td>
                            <div class="st-salary">Salary</div>
                        </td>
                        <td>...........................</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="st-location">Location</div>
                        </td>
                        <td>.................................</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="st-level">Level</div>
                        </td>
                        <td>............................</td>
                    </tr>

                </table>
            </div>

        </div>

        <div class="job">
            <div class="top-content">
                <span class="job-title">
                    <h1>Fullstack Developer</h1>
                </span>
                <button>Read More</button>
                <span class="job-deadline">Deadline: Within 1 days</span>
            </div>
            <div class="bottom-content">

                <table class="first-table">
                    <tr>
                        <td>
                            <div class="matching-skills">Matching Skills</div>
                        </td>
                        <td>Html css javascript</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="qualification">Qualification:</div>
                        </td>
                        <td>.........................</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="experience">Experience:</div>
                        </td>
                        <td>.......................</td>
                    </tr>

                    <tr>
                        <td>Description:</td>
                        <td>..................</td>
                    </tr>
                </table>

                <table class="second-table">
                    <tr>
                        <td>
                            <div class="st-salary">Salary</div>
                        </td>
                        <td>...........................</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="st-location">Location</div>
                        </td>
                        <td>.................................</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="st-level">Level</div>
                        </td>
                        <td>............................</td>
                    </tr>

                </table>
            </div>

        </div>
     


    </div>



</body>

</html>