<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/0da6c55480.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="skills.css">
</head>
<body>
    <h1>Choose your skills to continue</h1>

    <div class="container container-1">
        <div class="search-box">
            <input class="search-txt" type="text" name="text"  placeholder="Type to search...">
            <a class="search-btn" href="#">
                <i class="fa fa-search"></i>
            </a>
        </div>
    
        <ul class="skills" id="nonselected">
            <li class="skill">HTML	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">Full stack developer	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">Flask	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">Python	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">json	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">css	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">javascript	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">youtuber	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">HTML	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">Full stack developer	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">Flask	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">Python	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">json	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">css	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">javascript	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">youtuber	
                <i class="fa fa-arrow-circle-right"></i></li>
        </ul>
    </div>
    
    
    <h2>Selected skills</h2>
    <div class="container container-2">
        <ul class="skills" id="selected">
            <li class="skill">json	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">css	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">javascript	
                <i class="fa fa-arrow-circle-right"></i></li>
            <li class="skill">youtuber	
                <i class="fa fa-arrow-circle-right"></i></li>
        </ul>
    </div>
    
    <div class="continue-button">
        <button>Continue</button>
    </div>
    
</body>
</html>
